{% extends 'base.html' %}

{% block body %}
    <h3>Bem-vindo, {{ usuario.funcionario.nome }} </h3>
    <a href=" {% url 'list_funcionarios' %} ">Gereciar Funcionários</a>
    <a href=" {% url 'list_horaextra' %} ">Registros de Horas Extras</a>
    <a href=" {% url 'list_departamentos' %} ">Gerenciar Departamentos</a>
    <br>
    {% if usuario.funcionario.empresa %}
        <a href=" {% url 'alter_empresa' usuario.funcionario.empresa.id %} ">Alterar Empresa</a>
    {% else %}
        <a href=" {% url 'create_empresa' %} ">Criar Empresa</a>
    {% endif %}

    <a href="{% url 'logout' %}">Sair</a>
{% endblock %}